<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 2. Camera: Required for the CameraX IssueAnalyzerScreen -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Optional but recommended: Tells the Play Store the camera is a feature -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!-- 3. Biometrics: Required for the secure BiometricPrompt in the CheckoutScreen -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name=".LocalMerchant"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LocalMerchant">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.LocalMerchant">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>